.monaco-editor .monaco-hover code {
  background-color: rgba(220, 220, 220, 0.4);
  color: #D05A7A;
}

.monaco-editor .overflow-guard {
  position: relative;
  overflow: hidden;
  border: solid 1px darkgray;
}